<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>forbidden</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{?__VENDOR__?}layui/css/layui.css" media="all"/>
</head>
<body class="childrenBody">
<div style="text-align: center; padding:5% 0;">
    <span class="layui-icon layui-icon-face-cry" style="line-height:22rem; font-size:20rem; color: #393D50;"></span>
    <p style="font-size: 30px; font-weight: 500; color: #999;">没有权限执行该操作</p>
</div>
</body>
</html>